doctype strict
//
  Design by TEMPLATED
  http://templated.co
  Released for free under the Creative Commons Attribution License
  Name       : Effeminate
  Description: A two-column, fixed-width design with dark color scheme.
  Version    : 1.0
  Released   : 20140123
head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  style
            include ../default.css
            include ../fonts.css
  title
  meta(name='keywords', content='')
  meta(name='description', content='')
  link(href='http://fonts.googleapis.com/css?family=Varela', rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script.
    var testObj = !{testObj};
  //if IE 6
    link(href='default_ie6.css', rel='stylesheet', type='text/css')
#wrapper
  #header.container
    #logo
      h1
        a(href='http://localhost:8082') C0-0C
    #menu
      ul
        li.current_page_item
          a(href='http://localhost:8082', accesskey='1', title='') Solace
        li
          a(href='https://open.spotify.com/playlist/3uIvnY90QdcnT0YQTflxVF?si=3duRnIeCRPmCphZy4ZiclA', accesskey='3', title='') Truth
  #banner
    .container
      .title
        h2 C0-0C
        span.byline Receive our Blessing
      ul.actions
        img(src=testObj)
        li
          a.button(href='https://www.spotifycodes.com/index.html#video', target='_blank') How to acquire the gift
#copyright.container
  p
    | &copy; C0-0C. All rights reserved.
